body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(ellipse 80% 50% at 50% -5%, hsla(210, 98%, 19%, 1.00), hsla(213, 38%, 6%, 1.00));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
    --pageWidthPercent: 98%;
  }
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html:before{
    content:"";
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: radial-gradient(ellipse 80% 50% at 50% -5%, hsla(210, 98%, 19%, 1.00), hsla(213, 38%, 6%, 1.00));
    z-index: -1;
}