[Unit]
Description=Gunicorn daemon for Django
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/DKRiddles/backend/
ExecStart=/home/ubuntu/DKRiddles/backend/.venv/bin/gunicorn --workers 5 --threads 2 --bind unix:/run/gunicorn.sock config.wsgi:application

Restart=always

[Install]
WantedBy=multi-user.target